<div class="panel panel-success clean">
    <div class="panel-heading">
        <h3 class="panel-title">Batch Order Create</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20 white" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>
    </div>
    <div class="panel-body">
        <div class="ibox-content dialog" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %}
            <div class="col-sm-4">
                <div ng-class="{ 'has-error' : form.client.$invalid && !form.client.$pristine }" ng-if="main.user_type == 'admin'">
                    <label class="required">Client</label>
                    <ui-select ng-model="main.record.client" required name="client" ng-change="main.read_credentials()">
                        <ui-select-match>{$$select.selected.fullname$}</ui-select-match>
                        <ui-select-choices repeat="option in main.clients | filter: $select.search">
                            <div ng-bind-html="option.fullname | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="col-sm-12">
                <table class="table">
                    <thead>
                        <th width="25%">Address</th>
                        <th width="20%">Company &nbsp; <button ng-click="main.copy_column_data('credential')"><i class="fa fa-copy"></i></button></th>
                        <th width="20%">MLS &nbsp; <button ng-click="main.copy_column_data('mls')"><i class="fa fa-copy"></i></button></th>
                        <th width="15%">Order Type &nbsp; <button ng-click="main.copy_column_data('order_type')"><i class="fa fa-copy"></i></button></th>
                        <th width="5%">Rush</th>
                        <th width="5%">Rental</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in main.batch_orders">
                            <td>
                                <input ng-model="record.address" name="address" class="form-control" placeholder="House #, Street name, City, State, Zip"></input>
                            </td>
                            <td>
                                <ui-select ng-model="record.credential" required name="credential">
                                    <ui-select-match allow-clear>{$$select.selected.name$} ({$$select.selected.username$})</ui-select-match>
                                    <ui-select-choices repeat="option in main.credentials | filter: $select.search">
                                        <div ng-bind-html="option.name + ' (' + option.username + ')' | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <ui-select ng-model="record.mls" required name="mls">
                                    <ui-select-match allow-clear>{$$select.selected.name$} ({$$select.selected.username$})</ui-select-match>
                                    <ui-select-choices repeat="option in main.mlss | filter: $select.search">
                                        <div ng-bind-html="option.name + ' (' + option.username + ')' | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <ui-select ng-model="record.order_type" required name="order_type">
                                    <ui-select-match allow-clear>{$$select.selected.name$}</ui-select-match>
                                    <ui-select-choices repeat="option in main.order_types | filter: $select.search">
                                        <div ng-bind-html="option.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <input icheck type="checkbox" ng-model="record.is_rush">
                            </td>
                            <td>
                                <input icheck type="checkbox" ng-model="record.is_rental">
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm btn-outline" ng-click="main.remove_line($index)"><i class="fa fa-times"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button class="btn btn-sm btn-success btn-w-m btn-outline" ng-click="main.new_line()">New Line</button>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="">
            <button class="btn btn-sm btn-success" ng-disabled="form.$invalid" ng-click="main.create()">Save</button>
        </div>
    </div>
</div>
