<div class="panel panel-success clean noheight">
    <div class="panel-heading">
        <h3 class="panel-title">#{$ main.current_record.order_number $} Credential</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20 white" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>            
    </div>
    <div class="panel-body">
        <table class="table" resizeable mode="main.resizeMode" id="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
                <th>Security Q&A</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{$ main.current_record.credential.name $}</td>

                <td><span class="hand_cursor" uib-tooltip="{$ main.copy_tooltip_display $}" ng-click="main.copy_clipboard(main)" ng-click-copy="{$ main.current_record.credential.username $}">{$ main.current_record.credential.username $}</span></td>

                    <td><span class="hand_cursor" uib-tooltip="{$ main.copy_tooltip_display $}" ng-click="main.copy_clipboard(main)" ng-click-copy="{$ main.current_record.credential.password $}">{$ main.current_record.credential.password $}</span></td>


                <td><a href="{$ main.current_record.credential.url $}" target="_blank">{$ main.current_record.credential.url $}</a></td>
                <td>{$ main.current_record.credential.remarks $}</td>
            </tr>
        </tbody>
        </table>

        <div class="divider"></div>
        <table class="table" resizeable mode="main.resizeMode" id="table" ng-if="main.current_record.mls">
        <thead>
            <tr>
                <th>MLS</th>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{$ main.current_record.mls.name $}</td>
                <td><span class="hand_cursor" uib-tooltip="{$ main.copy_tooltip_display $}" ng-click="main.copy_clipboard(main)" ng-click-copy="{$ main.current_record.mls.username $}">{$ main.current_record.mls.username $}</span></td>

                <td><span class="hand_cursor" uib-tooltip="{$ main.copy_tooltip_display $}" ng-click="main.copy_clipboard(main)" ng-click-copy="{$ main.current_record.mls.password $}">{$ main.current_record.mls.password $}</span></td>


                <td><a href="{$ main.current_record.credential.url $}" target="_blank">{$ main.current_record.mls.url $}</a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

