<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
        <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
            <ul class="nav metismenu" id="side-menu">
                <li ng-class="wrapper.current_page == 'orders' ? 'active': ''">
                    <a href="#orders"><i class="fa fa-user"></i> <span class="nav-label">Orders</span></a>
                </li>

                <li ng-class="wrapper.current_page == 'users' ? 'active': ''">
                    <a href="#users"><i class="fa fa-users"></i> 
                        <span class="nav-label">
                            Users
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


            
