{% if request.user.user_type.name == "Admin" %}
<table class="table" resizeable mode="main_cda_fees.resizeMode" id="table" ng-class="(loading == true) ? 'table_loading' : '' " ng-init="main_cda_fees.read_clients('{{request.user.user_type.code}}')">
    <thead>
        <tr class="hdr_border_r">
            <th>CDA</th>
            <th>Interior</th>
            <th>Exterior</th>
            <th>Data Entry</th>
            <th>Rental</th>
            <th>Inspection</th>
            <th>CMA</th>
            <th>+Rush</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in main_cda_fees.records" class="tr_gray hand_cursor" ng-click="main_cda_fees.load_to_edit(record)">
            <td>{$ record.client $}</td>
            <td>{$ record.interior $}</td>
            <td>{$ record.exterior $}</td>
            <td>{$ record.data_entry $}</td>
            <td>{$ record.rental $}</td>
            <td>{$ record.inspection $}</td>
            <td>{$ record.cma $}</td>
            <td>{$ record.additional_rush $}</td>
        </tr>
    </tbody>
</table>
{% endif %}