{% if request.user.user_type.name == "Admin" %}
<table class="table" resizeable mode="main_client_fees.resizeMode" id="table" ng-class="(loading == true) ? 'table_loading' : '' " ng-init="main_client_fees.read_clients('{{request.user.user_type.code}}')">
    <thead>
        <tr class="hdr_border_r">
            <th>Client</th>
            <th>Interior</th>
            <th>Exterior</th>
            <th>Data Entry</th>
            <th>Rental</th>
            <th>Inspection</th>
            <th>CMA</th>
            <th>+Rush</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in main_client_fees.records" class="tr_gray hand_cursor" ng-click="main_client_fees.load_to_edit(record)">
            <td>{$ record.client $}</td>
            <td>{$ record.interior | currency $}</td>
            <td>{$ record.exterior | currency $}</td>
            <td>{$ record.data_entry | currency $}</td>
            <td>{$ record.rental | currency $}</td>
            <td>{$ record.inspection | currency $}</td>
            <td>{$ record.cma | currency $}</td>
            <td>{$ record.additional_rush | currency $}</td>
        </tr>
    </tbody>
</table>
{% endif %}