<div class="row">
    <div class="col-sm-2">
        <button class="btn btn-sm btn-warning btn-w-m" ng-click="main_mls.create_dialog()">New MLS</button>
    </div>
    <div class="col-sm-4 pull-right">
        <ui-select ng-model="main_mls.filters.user" theme="bootstrap" ng-change="main_mls.read_mlss()" ng-if="main_mls.user_type == 'admin'">
            <ui-select-match allow-clear>{$ $select.selected.fullname $}</ui-select-match>
            <ui-select-choices repeat="option in main_mls.clients">
                <div ng-bind-html="option.fullname | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>
<table class="table" resizeable mode="main_mls.resizeMode" id="table" ng-class="(loading == true) ? 'table_loading' : '' " ng-init="main_mls.read_clients('{{request.user.user_type.code}}')">
    <thead>
        <tr class="hdr_border_r">
            <th custom-sort order="company__name">MLS</th>
            {% if request.user.user_type.name == "Admin" %}
            <th>Client</th>
            {% endif %}
            <th>Username</th>
            <th>Password</th>
            <th>URL</th>
            <th>Security Question/Answer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="record in main_mls.mlss" class="tr_gray" notclicklast loader="main_mls.load_to_edit(record)">
            <td>{$ record.name $}</td>
            {% if request.user.user_type.name == "Admin" %}
            <td>{$ record.user.fullname $}</td>
            {% endif %}
            <td>{$ record.username $}</td>
            <td>{$ record.password $}</td>
            <td>{$ record.url $}</td>
            <td>{$ record.remarks $}</td>
            <td>
                <a href="" ng-click="main_mls.delete(record)"><span><i class="fa fa-trash fa-lg"></i></span></a>
            </td>
        </tr>
    </tbody>
</table>