<!-- 
	Note: Apply nested ui-view here for future tab settings.
 -->
<div class="row wrapper border-bottom white-bg page-heading">
    <p class="no_margin">
        <button ng-init="main.change_tab('credentials')" type="button" class="{$ main.btnclass['credentials'] $} no_radius" ng-click="main.change_tab('credentials')">Valuation form Credentials</button>
        
        <button type="button" class="{$ main.btnclass['mlss'] $} no_radius" ng-click="main.change_tab('mlss')">MLS Credentials</button>
        
        {% if request.user.user_type.name == "Admin" %}
        <button type="button" class="{$ main.btnclass['client_fees'] $} no_radius" ng-click="main.change_tab('client_fees')">Client Fees</button>
        <button type="button" class="{$ main.btnclass['cda_fees'] $} no_radius" ng-click="main.change_tab('cda_fees')">CDA Fees</button>
        {% endif %}

    </p>
</div>
<div class="clearfix"></div>
<div class="row wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="wrapper.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}


            <!-- Content Here -->
            <div class="row" ng-if="main.current_tab == 'credentials'" ng-controller="credentialsCtrl as main_credential">
                {% include "settings/credentials.html" %}
            </div>
            <div class="row" ng-if="main.current_tab == 'mlss'" ng-controller="mlssCtrl as main_mls">
                {% include "settings/mlss.html" %}
            </div>
            <div class="row" ng-if="main.current_tab == 'client_fees'" ng-controller="clientFeesCtrl as main_client_fees">
                {% include "settings/client_fees.html" %}
            </div>
            <div class="row" ng-if="main.current_tab == 'cda_fees'" ng-controller="cdaFeesCtrl as main_cda_fees">
                {% include "settings/cda_fees.html" %}
            </div>
            <!-- End of content -->
            <br><br><br><br>
        </div>
    </div>
</div>
