<div class="panel panel-primary clean">
    <div class="panel-heading">
        <h3 class="panel-title">{$ (main.record.id) ? main.record.reference_no : "New Invoice" $}</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>
    </div>
    <div class="panel-body">
        <div class="ibox-content dialog" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %}
            <div class="row">
                <div class="form-group col-sm-4">
                    <div ng-class="{ 'has-error' : form.client.$invalid && !form.client.$pristine }">
                        <label class="required">Client</label>
                        <ui-select  ng-model="main.record.client" 
                                    required 
                                    name="client" 
                                    ng-disabled="main.record.id"
                                    ng-change="main.read_unbilled_orders()">
                            <ui-select-match>{$$select.selected.fullname$}</ui-select-match>
                            <ui-select-choices repeat="option in main.cdas | filter: $select.search">
                                <div ng-bind-html="option.fullname | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-sm-4 col-sm-offset-4">
                    <div>
                        <label>Remarks</label>
                        <input type="text" ng-model="main.record.remarks" class="form-control">
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group col-sm-12">
                    <table class="table">
                        <thead>
                            <th>
                                <input type="checkbox" ng-model="main.controls.select_all" icheck ng-change="main.select_all_change()">
                            </th>
                            <th>Order #</th>
                            <th>Address</th>
                            <th>Date</th>
                            <th>Company</th>
                            <th>Processor</th>
                            <th>Status</th>
                            <th>Order Type</th>
                            <th>Rush</th>
                            <th>Rental</th>
                            <th>Not Submitted</th>
                            <th>Total</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in main.record.data" class="tr_gray">
                                <td>
                                    <input type="checkbox" ng-model="record.selected" icheck ng-change="main.calculate_total()">
                                </td>
                                <td>{$ record.order_number $}</td>
                                <td>{$ record.address $}</td>
                                <td>{$ record.date | date $}</td>
                                <td>{$ record.company $}</td>
                                <td>{$ record.current_assignee $}</td>
                                <td ng-if="record.status != 'submitted'">{$ record.status | capitalize $}</td>
                                <td ng-if="record.status == 'submitted'"><b>{$ record.status | capitalize $}</b></td>
                                <td>{$ record.order_type_display_cda $}</td>
                                <td>{$ record.is_rush_display_cda $}</td>
                                <td>{$ record.is_rental_display_cda $}</td>
                                <td>{$ record.not_submitted_display $}</td>
                                <td>{$ record.total $}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h4><b>Total: {$ main.record.total $}</b></h4>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <button class="btn btn-sm btn-danger btn-w-m" ng-disabled="form.$invalid || main.page_loader.dialog" ng-click="main.close_dialog()">Close</button>
        </div>
        <div class="pull-right">
            <button class="btn btn-sm btn-success btn-w-m" ng-disabled="form.$invalid || main.page_loader.dialog" ng-click="main.create()">Save</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
