<div class="panel panel-primary clean">
    <div class="panel-heading">
        <h3 class="panel-title">{$ main_cda_fees.record.client $} 22</h3>
        <a class="btn btn-sm pull-right margin_top_reverse_20" ng-click="main_cda_fees.close_dialog()"><i class="fa fa-times"></i></a>
    </div>
    <div class="panel-body">
        <div class="ibox-content dialog" ng-class="main_cda_fees.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %}
            <form name="form" class="form">
                <br />
                <div class="row" ng-class="{ 'has-error' : form.interior.$invalid && !form.interior.$pristine }">
                    <label class="required">Interior</label>
                    <input ng-model="main_cda_fees.record.interior" name="interior" type="text" class="form-control input-sm" placeholder="Interior Fee" required>
                </div>
                <br />
                <div class="row" ng-class="{ 'has-error' : form.exterior.$invalid && !form.exterior.$pristine }">
                    <label class="required">Exterior</label>
                    <input ng-model="main_cda_fees.record.exterior" name="exterior" type="text" class="form-control input-sm" placeholder="Exterior Fee" required>
                </div>
                <br />
                <div class="row" ng-class="{ 'has-error' : form.data_entry.$invalid && !form.data_entry.$pristine }">
                    <label class="required">Data Entry</label>
                    <input ng-model="main_cda_fees.record.data_entry" name="data_entry" type="text" class="form-control input-sm" placeholder="Data Entry Fee" required>
                </div>
                <br />
                <div class="row" ng-class="{ 'has-error' : form.rental.$invalid && !form.rental.$pristine }">
                    <label class="required">Rental</label>
                    <input ng-model="main_cda_fees.record.rental" name="rental" type="text" class="form-control input-sm" placeholder="Rental Fee" required>
                </div>
                <br />
                <div class="row" ng-class="{ 'has-error' : form.inspection.$invalid && !form.inspection.$pristine }">
                    <label class="required">Inspection</label>
                    <input ng-model="main_cda_fees.record.inspection" name="inspection" type="text" class="form-control input-sm" placeholder="Inspection Fee" required>
                </div>
                <br />
                <div class="row" ng-class="{ 'has-error' : form.cma.$invalid && !form.cma.$pristine }">
                    <label class="required">CMA</label>
                    <input ng-model="main_cda_fees.record.cma" name="cma" type="text" class="form-control input-sm" placeholder="CMA Fee" required>
                </div>
                <br />
                <div class="row" ng-class="{ 'has-error' : form.additional_rush.$invalid && !form.additional_rush.$pristine }">
                    <label class="required">Rush</label>
                    <input ng-model="main_cda_fees.record.additional_rush" name="additional_rush" type="text" class="form-control input-sm" placeholder="Rush Fee" required>
                </div>
                <br />
            </form>
        </div>
    </div>
    <div class="panel-footer">
        <div class="">
            <button class="btn btn-sm btn-success" ng-disabled="form.$invalid || main_cda_fees.page_loader.dialog" ng-click="main_cda_fees.create()">Save</button>
        </div>
    </div>
</div>
