#sudo apt-get install postgresql postgresql-contrib libpq-dev python-dev
django==2.2

pilkit==2.0
Pillow==5.2.0
psycopg2==2.7.5


django-imagekit
django-mail_templated
xlsxwriter
djangorestframework

django-environ
dj_database_url
gunicorn

#gunicorn --worker-tmp-dir /dev/project root.wsgi