<div class="row wrapper border-bottom white-bg page-heading">
    <p class="no_margin">
        <!-- <button type="button" class="{$ main.btnclass['active'] $} no_radius" ng-click="main.change_tab('active')">Active <span class="label label-info pull-right">{$ main.active_count $}</span></button> -->
    </p>
</div>
<div class="clearfix"></div>
<div class="row wrapper wrapper-content animated fadeIn" ng-cloak="" ng-init="main.read_clients('{{request.user.user_type.code}}')">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}
            <!-- Content Here -->
            <div class="row">
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <div class="input-group">
                            <input type="text" ng-model="main.filters.name" class="form-control" on-enter="main.main_loader();" placeholder="Search by Address">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="main.main_loader();"><i class="fa fa-search"></i></button>
                                <button class="btn btn-default" type="button" ng-click="main.export(true);"><i class="fa fa-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table" resizeable mode="main.resizeMode" id="table" ng-class="(loading == true) ? 'table_loading' : '' ">
                    <thead>
                        <tr class="hdr_border_r">
                            <th custom-sort order="date">Date</th>
                            <th custom-sort order="client__fullname">Client</th>
                            
                            <th>Address</th>
                            <th>Gender</th>
                            <th>Race</th>
                            <th>Hispanic Origin</th>
                            <th>Occupation</th>
                            <th>Birthdate</th>

                            <th>Available Capacity</th>
                            <th>Capacity</th>
                            <th>Top Sites</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in main.records" ng-class="(record.is_rush) ? 'rushighlight hand_cursor' : (record.is_duplicate_address) ? 'duplicate_address hand_cursor' : 'tr_gray hand_cursor'"  >
                            <td>{$ record.date |  date $}</td>
                            <td>{$ record.client.fullname $}</td>

                            <td>{$ record.client.address $}</td>
                            <td>{$ record.client.gender | capitalize $}</td>
                            <td>{$ record.client.ethnicity_race | capitalize $}</td>
                            <td>{$ record.client.ethnicity_hispanic_origin $}</td>
                            <td>{$ record.client.occupation $}</td>
                            <td>{$ record.client.birthdate | date $}</td>

                            <td>{$ record.available_capacity $} GB</td>
                            <td>{$ record.capacity $} GB</td>

                            <td>
                                <span ng-repeat="topsite in record.top_sites">
                                    {$ topsite.url $} <br>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination></pagination>
            </div>
            <!-- End of content -->
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
