{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>WeProBPO</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'landing_page/images/bpo/logo.png' %}" />
    <!-- Bootstrap -->
    <link href="{% static 'landing_page/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <!-- Template CSS Files  -->
    <link href="{% static 'landing_page/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'landing_page/js/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'landing_page/js/plugins/owl-carousel/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'landing_page/js/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'landing_page/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'landing_page/css/responsive.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{$ static ' images/fav-144.png' $}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{$ static ' images/fav-114.png' $}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{$ static ' images/fav-72.png' $}">
    <link rel="apple-touch-icon-precomposed" href="{$ static ' images/fav-57.png' $}">
    <link rel="shortcut icon" href="{$ static ' images/fav.png' $}">
</head>

<body>
    <!-- Header Parallax Starts -->
    <header class="header-parallax parallax clearfix" id="home">
        <!-- Nested Container Starts -->
        <div class="container">
            <!-- Main Menu Starts -->
            <div>
                <a href="index.html" class="navbar-brand">
                    <img src="{% static 'landing_page/images/bpo/logo.png' %}" alt="Fin Advisor" class="img-responsive logo">
                </a>
            </div>
            <nav id="nav" class="main-menu navbar flat">
                <!-- Nav Header Starts -->
                <div class="navbar-header">
                    <button type="button" class="btn btn-navbar navbar-toggle flat animation" data-toggle="collapse" data-target=".navbar-cat-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <!-- Nav Header Ends -->
                <!-- Navbar Cat collapse Starts -->
                <div class="collapse navbar-collapse navbar-cat-collapse animation">
                    <!-- Nav Links Starts -->
                    <ul class="nav navbar-nav navbar-right text-bold hayz">
                        <li class="active"><a href="#home">Home</a></li>
                        <li class="active"><a href="#about">About Us</a></li>
                        <li class="active"><a href="#strategy">Strategy</a></li>
                        <li class="active"><a href="#services">Services</a></li>
                        <li class="active"><a href="/login">Login</a></li>
                    </ul>
                    <!-- Nav Links Ends -->
                </div>
                <!-- Navbar Cat collapse Ends -->
            </nav>
            <!-- Main Menu Ends -->
            <!-- Slider Starts -->
            <br><br><br><br><br><br>
            <div id="main-slider" class="carousel slide carousel-fade hidden-xs" data-ride="carousel">
                <!-- Wrapper For Slides Starts -->
                <div class="carousel-inner carousel-top text-center">
                    <!-- Slide #1 Starts -->
                    <div class="item active">
                        <div class="carousel-caption text-lite-color hidden-xs">
                            <h2 class="text-medium">Heading #1</h2>
                            <h5 class="text-light">With our 35 years of quality experience in financial advice.</h5>
                        </div>
                    </div>
                    <!-- Slide #1 Ends -->
                    <!-- Slide #2 Starts -->
                    <div class="item">
                        <div class="carousel-caption text-lite-color hidden-xs">
                            <h2 class="text-medium">Heading #2</h2>
                            <h5 class="text-light">With our 35 years of quality experience in financial advice.</h5>
                        </div>
                    </div>
                    <!-- Slide #2 Ends -->
                    <!-- Slide #3 Starts -->
                    <div class="item">
                        <div class="carousel-caption text-lite-color hidden-xs">
                            <h2 class="text-medium">Heading #3</h2>
                            <h5 class="text-light">With our 35 years of quality experience in financial advice.</h5>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-caption text-lite-color hidden-xs">
                            <h2 class="text-medium">Heading #4</h2>
                            <h5 class="text-light">With our 35 years of quality experience in financial advice.</h5>
                        </div>
                    </div>
                    <!-- Slide #3 Ends -->
                </div>
                <!-- Wrapper For Slides Ends -->
                <!-- Control Starts -->
                <a class="left carousel-control animation" id="prev" href="#main-slider" role="button" data-slide="prev">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control animation" id="next" href="#main-slider" role="button" data-slide="next">
                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!-- Control Ends -->
            </div>
            <!-- Slider Ends -->
        </div>
        <!-- Nested Container Ends -->
    </header>
    <!-- Header Parallax Ends -->
    <!-- About Section Starts -->
    <section class="section-area" id="about">
        <!-- Nested Container Starts -->
        <div class="container text-center-xs">
            <!-- Nested Row Starts -->
            <div class="row">
                <!-- Content Starts -->
                <div class="col-md-6 col-xs-12">
                    <h3 class="main-heading-1 text-spl-color text-normal text-uppercase">About</h3>
                    <p class="lead">
                        WePro BPO has been established as a Broker Price Opinion outsourcing company which caters all types of Residential and Commercial properties throughout United States.
                    </p>
                    <p>
                        Our company started as a small business partnership in 2008.
                        <br> With the perseverance, commitment and continuously delivering high quality reports of the people behind, the business started to grow and created a team of highly skilled real estate analyst who are best experienced in processing and formulating standard quality, error-free, quick turn around time and cost effective broker price opinions.
                    </p>
                </div>
                <!-- Content Ends -->
                <!-- Divider For Small Screen Starts -->
                <div class="col-xs-12 hidden visible-sm visible-xs">
                    <p>
                        <br>
                    </p>
                </div>
                <!-- Divider For Small Screen Ends -->
                <!-- Carousel Starts -->
                <div class="col-md-6 col-xs-12">
                    <div id="carousel-1" class="carousel slide" data-ride="carousel">
                        <!-- Indicators Starts -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-1" data-slide-to="1"></li>
                        </ol>
                        <!-- Indicators Ends -->
                        <!-- Wrap For Slides Starts -->
                        <div class="carousel-inner carousel-left" role="listbox">
                            <div class="item active">
                                <img src="{% static 'landing_page/images/bpo/highrise.jpg' %}" alt="About Image" class="img-responsive img-center">
                            </div>
                            <div class="item">
                                <img src="{% static 'landing_page/images/bpo/Victorian.jpg' %}" alt="About Image" class="img-responsive img-center">
                            </div>
                            <div class="item">
                                <img src="{% static 'landing_page/images/bpo/Ranch1.jpg' %}" alt="About Image" class="img-responsive img-center">
                            </div>
                            <div class="item">
                                <img src="{% static 'landing_page/images/bpo/Traditional.jpg' %}" alt="About Image" class="img-responsive img-center">
                            </div>
                        </div>
                        <!-- Wrap For Slides Ends -->
                        <!-- Controls Starts -->
                        <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!-- Controls Ends -->
                    </div>
                </div>
                <!-- Carousel Ends -->
            </div>
            <!-- Nested Row Ends -->
        </div>
        <!-- Nested Container Ends -->
    </section>
    <!-- About Section Ends -->
    <!-- Divider Starts -->
    <!-- <div class="container"><hr class="hr-style-1"></div> -->
    <!-- Divider Ends -->
    <!-- Service Section Starts -->
    <section class="box-3 section-area" id="strategy">
        <!-- Nested Container Starts -->
        <div class="container text-center-xs">
            <h4 class="main-heading-1 text-spl-color text-center">Company Strategy</h4>
            <!-- Nested Row Starts -->
            <div class="row strategy">
                <!-- Box #1 Starts -->
                <!-- Box #1 Ends -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box-1 sub">
                        <i class="fa fa-bullseye"></i>
                        <h5 class="sub-heading-1 text-center">Mission</h5>
                        <p class="text-grey-color">
                            To build a long term relationship with our clients by providing high quality, accuracy and timeliness submission of reports. Also, enhancing the business with advanced technology making clients easier to communicate BPO reports.
                        </p>
                    </div>
                </div>
                <!-- Box #2 Starts -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box-1 sub">
                        <i class="fa fa-eye"></i>
                        <h5 class="sub-heading-1 text-center">Purpose</h5>
                        <p class="text-grey-color">
                            To build a long term relationship with our clients by providing high quality, accuracy and timeliness submission of reports. Also, enhancing the business with advanced technology making clients easier to communicate BPO reports
                        </p>
                    </div>
                </div>
            </div>
            <!-- Box #2 Ends -->
            <!-- Box #3 Starts -->
            <div class="row strategy">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box-1 sub">
                        <i class="fa fa-star"></i>
                        <h5 class="sub-heading-1 text-center">Vision</h5>
                        <p class="text-grey-color">
                            To provide high quality services that exceeds the expectations of our clients.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="box-1 sub">
                        <i class="fa fa-smile-o"></i>
                        <h5 class="sub-heading-1 text-center">Core Values</h5>
                        <p class="text-grey-color">
                            We treat our clients with respect and honesty in all aspects of work. Aside from our treatment to our clients, we also believe that employees are the most essential asset in a company. Thus, developing an honesty, respectful environment as well as valuing the effort of the employees making the company stronger and better.
                        </p>
                    </div>
                </div>
                <!-- Right Col Ends -->
            </div>
            <!--- Nested Row Ends -->
        </div>
        <!-- Nested Container Ends -->
    </section>
    <section class="box-3 section-area" id="services">
        <!-- Nested Container Starts -->
        <div class="container text-center-xs">
            <h4 class="main-heading-1 text-spl-color text-center">Services</h4>
            <!-- Nested Row Starts -->
            <div class="row strategy">
                <!-- Box #1 Starts -->
                <!-- Box #1 Ends -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <center>
                        <div class="box-1 sub">
                            <img src="{% static 'landing_page/images/bpo/tax_record.jpg' %}" width="300px" height="300px">
                            <h5 class="sub-heading-1 text-center">Tax Report</h5>
                            <p class="text-grey-color">
                                All subject information is based on County record and/or tax record for verification of the subject's building characteristics. However, analysts make no warranty as to the correctness or accuracy of the information set forth. whether express or implied, in fact or in law, including without limitation the implied warranties of merchantability and fitness for a particular use.
                            </p>
                        </div>
                    </center>
                </div>
                <!-- Box #2 Starts -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <center>
                        <div class="box-1 sub">
                            <img src="{% static 'landing_page/images/bpo/comp_search.jpg' %}" width="300px" height="300px">
                            <h5 class="sub-heading-1 text-center">Comp Searches</h5>
                            <p class="text-grey-color">
                                Multiple Listing System is the main source of our data. By providing three sold listing and three active listings and Setting criteria for proximity, GLA, age, style and room count we identify the subject's current market value. 
                            </p>
                        </div>
                    </center>
                </div>
            </div>
            <!-- Box #2 Ends -->
            <!-- Box #3 Starts -->
            <div class="row strategy">
                <!-- Box #1 Starts -->
                <!-- Box #1 Ends -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <center>
                        <div class="box-1 sub">
                            <img src="{% static 'landing_page/images/bpo/data_entry.jpg' %}" width="300px" height="300px">
                            <h5 class="sub-heading-1 text-center">Data Entry</h5>
                            <p class="text-grey-color">
                                All fields in the form are inputted, from subject property, neighborhood up to the comparable with unique value conclusion comment for each property. Adjustment also added to determine the best current value of the subject.
                            </p>
                        </div>
                    </center>
                </div>
                <!-- Box #2 Starts -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <center>
                        <div class="box-1 sub">
                            <img src="{% static 'landing_page/images/bpo/attachment.jpg' %}" width="300px" height="300px">
                            <h5 class="sub-heading-1 text-center">Attachment</h5>
                            <p class="text-grey-color">
                                All necessary source of information that has been used in the valuation analysis will be uploaded in the form such as subject property tax record and/or Original appraisal, Subject MLS sheet (if the subject property has a pending offer). Comparable MLS sheets also uploaded if needed in the valuation platform.
                            </p>
                        </div>
                    </center>
                </div>
            </div>
            <!--- Nested Row Ends -->
        </div>
        <!-- Nested Container Ends -->
    </section>
    <!-- Service Section Ends -->
    <!-- Divider Starts -->
    <div class="container">
        <hr class="hr-style-1">
    </div>
    <!-- Copyright Starts -->
    <footer class="copyright">
        <!-- Nested Container Starts -->
        <div class="container text-center text-lite-color">
            <em class="text-light">WeProBPO &copy; 2017. All Rights Reserved.</em>
        </div>
        <!-- Nested Container Ends -->
    </footer>
    <!-- Copyright Ends	-->
    <!-- Template JS Files -->
    <script src="{% static 'landing_page/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'landing_page/js/jquery-migrate-1.4.1.min.js' %}"></script>
    <script src="{% static 'landing_page/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing_page/js/plugins/backstretch/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'landing_page/js/plugins/shuffle/jquery.shuffle.modernizr.min.js' %}"></script>
    <script src="{% static 'landing_page/js/plugins/owl-carousel/owl.carousel.js' %}"></script>
    <script src="{% static 'landing_page/js/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'landing_page/js/custom.js' %}"></script>
</body>

</html>
