<div class="wholedialog fixed-nav">
<div class="panel panel-success clean">
    <div class="panel-heading">
        <h3 class="panel-title">{$ main.current_record.fullname $}</h3>
        <a class="btn btn-sm white pull-right margin_top_reverse_20" ng-click="main.close_dialog()"><i class="fa fa-times"></i></a>            
    </div>
    <div class="panel-body">
        <div class="ibox-content dialog" ng-class="main.page_loader.dialog ? 'sk-loading' : ''" ng-style="modal_style">
            {% include "common/loader.html" %}
            <table class="table">
                <thead>
                    <tr>
                        <th width="70%">Instruction</th>
                        <th width="30%">Actions</th>
                    </tr>
                </thead>
                <div class="col-">
                    
                </div>
                <tr ng-repeat="instruction in main.current_record.instructions">
                    <td>
                        <textarea class="form-control flat" rows="6" name="instruction" id="instruction" ng-model="instruction.instruction" placeholder="Instruction"></textarea>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-lg" ng-click="main.create(instruction)">Save</button>
                        <button class="btn btn-danger btn-lg" ng-click="main.delete(instruction)">Delete</button>
                    </td>
                </tr>
                <td>
                    <textarea class="form-control flat" rows="6" name="instruction" id="instruction" ng-model="main.record.instruction" placeholder="Instruction"></textarea>
                </td>
                <td>
                    <button class="btn btn-primary btn-lg" ng-click="main.create(main.record)">Save</button>
                </td>
                
            </table>
        </div>
    </div>
</div>
</div>