{% block page_header %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-8">
        <h2>{{page_name}}</h2>
    </div>
</div>
{% endblock %}
<div class="row wrapper wrapper-content animated fadeIn" ng-cloak="">
    <div class="ibox">
        <div class="ibox-content" ng-class="main.page_loader.main ? 'sk-loading' : ''">
            {% include "common/loader.html" %}
            <!-- Content Here -->
            <div class="row">
                <div class="row">
                    <div class="col-sm-6 pull-right">
                        <div class="input-group">
                            <input type="text" ng-model="main.filters.name" class="form-control input-md" on-enter="main.main_loader();" placeholder="Search..." dedong="alde">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="main.main_loader();"><i class="fa fa-search"></i></button>
                                <button class="btn btn-default" type="button" ng-click="main.main_loader(true);"><i class="fa fa-refresh"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table" id="table" ng-class="(loading == true) ? 'table_loading' : '' ">
                    <thead>
                        <tr class="hdr_border_r">
                            <th width="10%">Client Name</th>
                            <th width="15%"># of Instructions</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in main.records" class="tr_gray hand_cursor" ng-click="main.instructions_dialog(record)">
                            <td>{$ record.fullname $}</td>
                            <td>{$ record.no_of_transactions $}</td>
                        </tr>
                    </tbody>
                </table>
                <pagination></pagination>
            </div>
            <br><br><br><br>
        </div>
    </div>
</div>
